    <nav class="navbar navbar-light bg-light fixed-top ">
    <a class="" href="#">
        <img src="/tempLogo.png" width="50" height="50" class="d-inline-block align-top" alt="Logo">
    </a>
        <div class="nav-item dropdown ">
    <a class="dropdown-toggle nav-link mr-2" style="padding:0px;" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="displayName">Menu</span>

    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" id="logout" href="#">Log Out</a>
        <a class="dropdown-item" href="/student/profile">Profile</a>
        <a class="dropdown-item d-inline-block" href="/student/feedback">Feedback <i style="width:12px; font-size: 12px" class="material-icons">star_rate</i></a>


    </div>
        </div>

</nav>
