<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="/styleP.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
    <link rel="shortcut icon" href="/img/fav.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content=" " />
    <meta name="robots" content="index, follow" />
</head>

<body>

    <!--Card-->
    <div class="card animated fadeIn m-1">
        <center><img class="center animated rollIn" src="/img/avatar.png" alt="avatar"></center>
        <hr>
        <div class="name">
            <%= displayName %>
        </div>
        <p class="subtitle">Faculty</p>
        <p class="subtitle">Email :
            <%= email %>
        </p>
        <!--  <p class="subtitle">FacultyId : </p> -->
        <p class="location">IILM College of Engg and Tech
        </p>

    </div>
    <!--footer-->
    <footer class="animated fadeIn">
        <br>
    </footer>
</body>

</html>