    <nav class="navbar navbar-light bg-light fixed-top ">
    <a class="" href="#">
        <img src="/tempLogo.png" width="50" height="50" class="d-inline-block align-top" alt="Logo">
    </a>
        <div class="nav-item dropdown ">
    <a class="dropdown-toggle nav-link mr-2" style="padding:0px;" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%if(displayName!=null){ %>
        <div class="align-items-center"><%= displayName %></div>
        <% } else {%>
        <div class="align-items-center">Menu</div>
        <%}%>

    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="/student/logout">Log Out</a>
        <a class="dropdown-item d-inline-block" href="/student/feedback">Rate <i style="width:12px; font-size: 12px" class="material-icons">star_rate</i></a>

    </div>
        </div>

</nav>
