<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="/styleP.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
    <link rel="shortcut icon" href="/img/fav.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content=" " />
    <meta name="robots" content="index, follow" />
    <%include ../Utils/PWA_Utils.ejs%>
    <% include ../Utils/Bootstrap.ejs%>
    <link rel="manifest" href="/manifest.json">
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-database.js"></script>
    <script>
        var config = {
            apiKey: "AIzaSyBlzndLTLHThD68KN1C9C6UNueGj0JvaPU",
            authDomain: "student-portal-2017.firebaseapp.com",
            databaseURL: "https://student-portal-2017.firebaseio.com",
            projectId: "student-portal-2017",
            storageBucket: "student-portal-2017.appspot.com",
            messagingSenderId: "124113730727"
        };
        firebase.initializeApp(config);
    </script>
</head>

<body>
    <!--Card-->
    <div class="card animated fadeIn mb-2">
        <center><img class="center animated rollIn" src="/img/avatar.png" alt="avatar"></center>
        <hr>
        <div class="name">
            <span id="displayName"></span>
        </div>
        <p class="subtitle">Student</p>
        <p class="subtitle">Email : <span id="email"></span></p>
        <!--          <p class="subtitle">FacultyId : </p>
 -->
        <p class="location">IILM College of Engg and Tech
        </p>

    </div>
    <!--footer-->
    <footer class="animated fadeIn">
        <br>
    </footer>
    <script src="/ClientSideScripts/Student/Profile.js"></script>

</body>

</html>